<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.homemarket.store.mapper.MemberMapper">

<resultMap id="member" type="Member">
<id property="memberId" column="member_id" />
<result property="name" column="name" />
<result property="email" column="email" />
<result property="addresses" column="addresses" typeHandler="AddressTypeHandler" />
<result property="roles" column="roles" typeHandler="RoleTypeHandler" />
<result property="joinDate" column="joinDate" />
</resultMap>

<resultMap id="userForLogin" type="UserDto">
<result property="memberId" column="member_id" />
<result property="password" column="password" />
<result property="roles" column="roles" typeHandler="RoleTypeHandler" />
</resultMap>

<insert id="create" parameterType="Member">
	insert into member
		(member_id, name, password, email, addresses, roles)
	values
		(
			#{memberId},
			#{name},
			#{password},
			#{email},
			#{addresses, typeHandler=AddressTypeHandler},
			#{roles, typeHandler=RoleTypeHandler}
		)
</insert>

<select id="retrieveAll" resultMap="member">
	select 
			member_id, 
			name, 
			email, 
			addresses, 
			join_date as joinDate, 
			roles
	from member
</select>

<select id="retrieveById" parameterType="String" resultMap="member">
	select
			member_id, 
			name, 
			email, 
			address, 
			join_date as joinDate, 
			roles
	from member
	where member_id = #{memberId}
</select>

<select id="retrieveByName" parameterType="String" resultMap="member">
	select 
			member_id, 
			name, 
			email, 
			address, 
			join_date as joinDate, 
			roles
	from member
	where name = #{name}
</select>

<update id="update" parameterType="Member">
	update member
	set
		name = #{name},
		password = #{password},
		email = #{email},
		address = #{address, typeHandler=AddressTypeHandler}
	where
		member_id = #{memberId}
</update>

<delete id="delete" parameterType="String">
	delete from member where member_id = #{memberId}
</delete>

<select id="retrieveByIdForLogin" parameterType="String" resultMap="userForLogin">
	select
			member_id,
			password,
			roles
	from member
	where member_id = #{memberId}
</select>

</mapper>
